.btn{
    display: inline-block;
    color: white!important;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 300;
    border-radius: 25px;
    padding: 13px 16px;
    background: #3d3d3d;
    width: 140px;
    transition:.3s all ease-in-out;
    text-transform: capitalize;
    cursor: pointer;
}
